# Node & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Build outputs
dist/
build/
.vite/
*.tsbuildinfo

# Environment Variables (sensitive info)
.env
.env.local
.env.development
.env.test
.env.production
!.env.example

# Docker & Database local data / volumes
pgdata/
redisdata/
osrm_data/
*.pbf
*.osrm*

# Database & Prisma
*.sqlite
*.sqlite-journal

# Logs & Temporary files
logs
*.log
*.tmp

# Operating System files
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/settings.json